# ignore all
*

# except for the following
!README.md
!.gitignore
!Makefile

!labs/
!labs/Makefile
!labs/*.md
!labs/*.jpg
!labs/*.png

!lectures/
!lectures/Makefile
!lectures/*.md
!lectures/assets/
!lectures/assets/*.css
!lectures/assets/img*/
!lectures/assets/img*/*.png
!lectures/assets/img*/*.jpg
!lectures/assets/img*/*.svg
!lectures/assets/img*/*.gif
!lectures/assets/plots*/
!lectures/assets/plots*/*.png
!lectures/assets/plots*/*.gif
!lectures/assets/mov
!lectures/assets/mov/*.mp4

!scripts/
!scripts/*.py
!scripts/*.sh
!scripts/*.json
!scripts/*.npz
