# ignore all
*

# except for the following
!README.md
!.gitignore
!Makefile

!lectures/
!lectures/Makefile
!lectures/*.md
!lectures/assets/
!lectures/assets/*.css

!scripts/
!scripts/*.py
!scripts/*.sh

